# Importing and cleaning

In [283]:
# Import packages

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns

In [284]:
# Upload the two csv files into two dataframes

data = pd.read_csv('data/measurements.csv')
data2 = pd.read_excel('data/measurements2.xlsx')

In [296]:
data.shape

(388, 12)

In [297]:
data2.shape

(388, 12)

In [285]:
data.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [286]:
data2.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,1.3,11.5,21,20.0,10,NaN,SP98,0,0,0,NaN,NaN
1,1.7,10.8,14,21.5,10,rain,E10,0,1,0,NaN,NaN
2,2.0,9.9,21,21.5,4,NaN,SP98,0,0,0,NaN,NaN
3,2.0,6.2,20,21.5,10,NaN,SP98,0,0,0,NaN,NaN
4,2.0,8.1,20,22.5,14,NaN,E10,0,0,0,NaN,NaN

In [287]:
# Replace commas with dots and transform to numeric for specified columns
columns_to_convert = ['distance', 'consume', 'temp_inside', 'refill liters']
data[columns_to_convert] = data[columns_to_convert].apply(lambda x: x.str.replace(',', '.')).apply(pd.to_numeric)

In [290]:
data.dtypes

distance         float64
consume          float64
speed              int64
temp_inside      float64
temp_outside       int64
specials          object
gas_type          object
AC                 int64
rain               int64
sun                int64
refill liters    float64
refill gas        object
dtype: object

In [291]:
data2.dtypes

distance         float64
consume          float64
speed              int64
temp_inside      float64
temp_outside       int64
specials          object
gas_type          object
AC                 int64
rain               int64
sun                int64
refill liters    float64
refill gas        object
dtype: object

In [298]:
# Merge vertically using concat
df = pd.concat([data, data2], ignore_index=True)

# Exclude duplicates based on all columns
df = merged_df.drop_duplicates()

# Reset the index
df = merged_df.reset_index(drop=True)

# Check the shape of the resulting dataframe
print(df.shape)

(388, 12)

It appears that the two dataframes were the same after all.

In [299]:
df.to_csv('data/df_clean.csv', index =False)

It appears that some columns have a very high number of missing values, therefore we will exclude them from our dataframe