In [60]:
#Importing all the libraries
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn
from sklearn import linear_model
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn import linear_model

In [61]:
# We load the dataset
data = pd.read_csv('measurements.csv')

## Exploratory Data Analysis

In [62]:
data.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [63]:
data.shape

(388, 12)

In [64]:
data .info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

In [65]:
data.columns

Index(['distance', 'consume', 'speed', 'temp_inside', 'temp_outside',
       'specials', 'gas_type', 'AC', 'rain', 'sun', 'refill liters',
       'refill gas'],
      dtype='object')

In [66]:
data.dtypes

distance         object
consume          object
speed             int64
temp_inside      object
temp_outside      int64
specials         object
gas_type         object
AC                int64
rain              int64
sun               int64
refill liters    object
refill gas       object
dtype: object

In [67]:
# Missing values checking
data.isna().sum()

distance           0
consume            0
speed              0
temp_inside       12
temp_outside       0
specials         295
gas_type           0
AC                 0
rain               0
sun                0
refill liters    375
refill gas       375
dtype: int64

In [68]:
'''We check if our data contains any duplicate'''
data.duplicated().value_counts()

False    388
dtype: int64

In [69]:
data['gas_type'].unique()

array(['E10', 'SP98'], dtype=object)

In [70]:
data['gas_type'].value_counts()

SP98    228
E10     160
Name: gas_type, dtype: int64

In [71]:
data['rain'].unique()

array([0, 1], dtype=int64)

In [72]:
data['sun'].unique()

array([0, 1], dtype=int64)

In [73]:
data['specials'].unique()

array([nan, 'AC rain', 'AC', 'rain', 'snow', 'AC snow',
       'half rain half sun', 'sun', 'AC sun', 'sun ac', 'ac', 'AC Sun',
       'ac rain'], dtype=object)

In [74]:
# convert variable types
cols = ['distance', 'consume', 'temp_inside']
data[cols] = data[cols].apply(pd.to_numeric, errors='coerce', axis=1)

In [78]:
data.dtypes

distance         float64
consume          float64
speed              int64
temp_inside      float64
temp_outside       int64
specials          object
gas_type          object
AC                 int64
rain               int64
sun                int64
refill liters     object
refill gas        object
dtype: object

In [76]:
 
#dummy = pd.get_dummies(data['gas_type'])
  
#data = pd.concat([data,dummy],axis=1)

In [79]:
data.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28.0,5.0,26,NaN,12,NaN,E10,0,0,0,45,E10
1,12.0,NaN,30,NaN,13,NaN,E10,0,0,0,NaN,NaN
2,NaN,NaN,38,NaN,15,NaN,E10,0,0,0,NaN,NaN
3,NaN,NaN,36,NaN,14,NaN,E10,0,0,0,NaN,NaN
4,NaN,NaN,46,NaN,15,NaN,E10,0,0,0,NaN,NaN