In [1]:
import pandas as pd

In [55]:
#importo el CSV y lo almaceno en la variable df
df = pd.read_csv('../data/measurements.csv')

In [56]:
#inspecciono la cabeza de la tabla
df.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [57]:
#medidas de la tabla
df.shape

(388, 12)

In [58]:
#nombres de las columnas
df.columns

Index(['distance', 'consume', 'speed', 'temp_inside', 'temp_outside',
       'specials', 'gas_type', 'AC', 'rain', 'sun', 'refill liters',
       'refill gas'],
      dtype='object')

In [59]:
#nulos
df.isnull().sum()

distance           0
consume            0
speed              0
temp_inside       12
temp_outside       0
specials         295
gas_type           0
AC                 0
rain               0
sun                0
refill liters    375
refill gas       375
dtype: int64

In [60]:
#tipo de valores
df.dtypes

distance         object
consume          object
speed             int64
temp_inside      object
temp_outside      int64
specials         object
gas_type         object
AC                int64
rain              int64
sun               int64
refill liters    object
refill gas       object
dtype: object

In [61]:
#sustituyo las comas por puntos y transformo los valores a float
df['distance'] = df['distance'].str.replace(',', '.').astype(float)
df['consume'] = df['consume'].str.replace(',', '.').astype(float)
df['temp_inside'] = df['temp_inside'].str.replace(',', '.').astype(float)
df['refill liters'] = df['refill liters'].str.replace(',', '.').astype(float)

In [62]:
#sustituyo los nulos de la columna temp_inside por la media de sus valores 
df['temp_inside'] = df['temp_inside'].fillna(df['temp_inside'].mean()).round(1)

In [63]:
#sustituyo los nulos del resto del dataframe por 0
df = df.fillna(0)

In [64]:
#inspecciones los valores Ãºnicos de la columna specials
df['specials'].unique()

array([0, 'AC rain', 'AC', 'rain', 'snow', 'AC snow',
       'half rain half sun', 'sun', 'AC sun', 'sun ac', 'ac', 'AC Sun',
       'ac rain'], dtype=object)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    float64
 1   consume        388 non-null    float64
 2   speed          388 non-null    int64
 3   temp_inside    388 non-null    float64
 4   temp_outside   388 non-null    int64
 5   specials       388 non-null    object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  388 non-null    float64
 11  refill gas     388 non-null    object
dtypes: float64(4), int64(5), object(3)
memory usage: 36.5+ KB